<div class="cursos container" ng-controller="Curso">
	<h1 style="font-size: 20px;">Cursos</h1>
	<p>
		<a href="./#/cursos/agregar" class="btn btn-soincopy" ng-show="loginService.getCurrentUser().cursos_agregar"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</a><br/>

		<div class="botones">
			<div ng-show="p_">
				<a class="btn btn-primary" ng-show="loginService.getCurrentUser().cursos_editar" href="./#/cursos/editar/{{ p_.id }}">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 8px;"></span> Editar
				</a>

				<button class="btn btn-danger" ng-click="cambiar_estado(p_.id, 0)" ng-show="loginService.getCurrentUser().cursos_deshabilitar && p_.estado == 1">
					<span class="glyphicon glyphicon-remove" aria-hidden="true" ></span> Deshabilitar
				</button>

				<button class="btn btn-success" ng-click="cambiar_estado(p_.id, 1)" ng-show="loginService.getCurrentUser().cursos_deshabilitar && p_.estado == 0">
					<span class="glyphicon glyphicon-ok" aria-hidden="true" ></span> Habilitar
				</button>
			</div>
		</div>
	</p>

	<div>	
		<p>
			Buscar curso <input type="text" class="input_busqueda" ng-model="busqueda" ng-init="busqueda = ''" placeholder="Use cualquier campo para buscar" />
		</p>

		<table class="table table-stripped" ng-init="cargar_cursos()">
			<thead>
				<th class="text-center">Nombre</th>
			</thead>
			<tbody>
				<tr ng-click="seleccionar(p)" ng-repeat="p in cursos"
					ng-if="(p.nombre.indexOf(busqueda) != -1)
					
					&& (p.estado == 1)
					"
					class="{{ p.estado == 0 ? 'bg-danger' : '' }} {{ p_.id == p.id ? 'bg-selected' : '' }}">
					<td class="text-center">{{ p.nombre }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>