# Evitar que se muestre el contenido de las carpetas
Options -Indexes

# Pagina de 404 not found
ErrorDocument 404 /casauslarpietri/404.html

# Prohibir acceso a .htaccess
<Files ~ “^.*\.([Hh][Tt][Aa])”>
order allow,deny
deny from all
satisfy all
</Files>

RewriteEngine on

# Prohibir acceso a carpeta bd
RewriteRule ^bd.*$ /casauslarpietri/ [R=301,L]

# Reglas para la API
RewriteRule ^api/lugares$ /casauslarpietri/php/run.php?fn=cargar_lugares [QSA,L]
RewriteRule ^api/personas$ /casauslarpietri/php/run.php?fn=cargar_personas [QSA,L]
RewriteRule ^api/permisos$ /casauslarpietri/php/run.php?fn=cargar_permisos [QSA,L]
RewriteRule ^api/cursos$ /casauslarpietri/php/run.php?fn=cargar_cursos [QSA,L]

RewriteRule ^api/lugar/(.+)$ /casauslarpietri/php/run.php?fn=cargar_lugar&lid=$1 [QSA,L]
RewriteRule ^api/persona/(.+)$ /casauslarpietri/php/run.php?fn=cargar_persona&cedula=$1 [QSA,L]
RewriteRule ^api/curso/(.+)$ /casauslarpietri/php/run.php?fn=cargar_curso&id=$1 [QSA,L]

RewriteRule ^api/check/usuario/(.+)$ /casauslarpietri/php/run.php?fn=check_usuario&username=$1 [QSA,L]

RewriteRule ^api/export/(.+)$ /casauslarpietri/php/export.php?t=$1 [QSA,L]